/* Variaveis css - facilitar o uso de temas para formatação*/
:root {
    --gradiente-fundo: url('foto.jpg');
    --fundo-cartao: #f7ffad;
    --cor-texto: #3d3d1a;
    --cor-primaria: #3d3d24;
    --cor-primaria-destaque: #22240e;
    --cor-borda: #3d3d24;
    --cor-perigo: #ff7675;
    --cor-concluido: #a0aec0;
}

body.modo-escuro {
    --gradiente-fundo: url('foto.jpg');
    --fundo-cartao: #724d1d;
    --cor-texto: #3d3d24;
    --cor-borda: #22240e;
}
.subtitulo-editorial {
  font-family: 'Bodoni Moda', serif;
  font-style: italic;
  font-size: 13px;
  opacity: 0.8;
  margin-top: -5px;
  margin-bottom: 15px;
  color: var(--cor-texto);
}
button {
    background-color: var(--cor-primaria);
    color:var(--cor-texto);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda',serif;
    transition: background 0.3s, color 0.3s;
}
h1 {
    font-family: 'Bodoni Moda', serif;
    letter-spacing: 1px;
}
#contador-tarefas {
    color: var(--cor-texto);
}

body {
    background-image: var(--gradiente-fundo);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cartao-aplicacao {
    background: rgba(255, 250, 176, 0.85);
    color: var(--cor-texto);
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.cabecalio-aplicacao {
    display: flex;
    background-filter:blur(12px) ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.cabecalio-aplicacao h1 {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 6px;
}

.botao-icone {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: var(--cor-texto);
    cursor: pointer;
}

.caixa-entrada {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 12px 15px;
    border: 2px solid var(--cor-borda);
    border-radius: 12px;
    outline: none;
    font-size: 0.95rem;
    background: transparent;
    color: var(--cor-texto);
}

input[type="text"]:focus {
    border-color: var(--cor-primaria);
}

.botao-principal {
    background: var(--cor-primaria);
    color: rgb(250, 246, 246);
    border: none;
    padding: 12px 18px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s, background 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
}

.botao-principal:hover {
    background: var(--cor-primaria-destaque);
    transform: translateY(-2px);
}

.lista-tarefas {
    list-style: none;
    max-height: 280px;
    overflow-y: auto;
}

.item-tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background: var(--cor-borda);
    border-radius: 10px;
    margin-bottom: 10px;
    animation: aparecer 0.3s ease;
}

.texto-tarefa {
    flex: 1;
    cursor: pointer;
    word-break: break-all;
    padding-right: 10px;
}

.item-tarefa.concluido .texto-tarefa {
    text-decoration: line-through;
    color: var(--cor-concluido);
}

.acoes-tarefa {
    display: flex;
    gap: 12px;
    align-items: center;
}

.botao-acao {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--cor-texto);
    display: flex;
    align-items: center;
}

.botao-acao.excluir:hover {
    color: var(--cor-perigo);
}

.radape-aplicacao {
    margin-top: 15px;
    font-size: 0.85rem;
    color: var(--cor-concluido);
    text-align: center;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 15px 0;
}


.filtro-btn {
  background: transparent;
  border: 1px solid var(--cor-borda, #4a3e3d);
  color: var(--cor-texto, #4a3e3d);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Bodoni Moda', serif;
  transition: all 0.2s ease;
}

.filtro-btn.ativo {
    background-color: var(--cor-texto);
    color:#fff;
    border-color:var(--cor-texto);
}

.filtro-btn:hover {
  background-color: var(--cor-texto, #802929);
  color: #fff;
  border-color: var(--cor-texto, #333);
  opacity: 0.8;
}
.topo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.acoes-topo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.foto-perfil {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url('imagem.jpg'); /* Carrega a foto pelo CSS */
  background-size: cover;
  background-position: center;
  border: 2px solid var(--cor-texto, #333);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
#botao-alterar-tema {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: var(--cor-texto, #4a3e3d);
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.2s ease;
}

#botao-alterar-tema:hover {
  transform: scale(1.1);
  color: #9e8263;
}



